.journal__main-content {
    display: flex;
}

.journal__sidebar {
    background-color: $dark-grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 2em;
    width: 400px;
    flex-shrink: 0;
    padding-top: 1em;

    .journal__content-button {
        padding-right: 1em;
    }
}

.journal__sidebar-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile {
        display: flex;
        align-items: center;

        img {
            width: 30px;
            max-width: 100%;
            border-radius: 50%;
            margin-right: 0.5em;
        }
        h3 {
            font-weight: 400;
            font-size: 16px;

            // i {
            //     margin-right: 1em;
            // }
        }
    }
}

.journal__new-entry {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.75em 0.5em;

    span {
        margin-right: 1em;
    }

    // &:hover {
    //     color: darken($color: #000000, $amount: 0);
    // }
}

.journal__entries {
    flex: 1 1 auto;
    margin: 30px 0;
    overflow-y: auto;
    padding-right: 1em;

    .journal__entry {
        position: relative;
        overflow: hidden;
        margin-bottom: 1em;

        .journal__entry-content {
            background-color: #fff;
            border-radius: 5px;
            color: $dark-grey;
            display: flex;
            cursor: pointer;

            .journal__entry-picture {
                width: 75px;
                flex-shrink: 0;
                // height: 75px;
            }

            .journal__entry-body {
                padding: 1em;
                flex: 1 1 auto;
                min-height: 65px;

                .journal__entry-title {
                    font-size: 14px;
                    font-weight: 600;
                }

                .journal__entry-content {
                    font-size: 10px;
                }
            }

            .journal__entry-date-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;

                span {
                    font-size: 12px;
                }
            }
        }

        .journal__entry-delete {
            background: #e63946;
            position: absolute;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            right: -50px;
            top: calc(50% - 20px);

            &:hover {
                background: darken($color: #e63946, $amount: 10%);
            }

            i {
                color: #fff;
            }
        }
    }
}

.journal__entry:hover {
    .journal__entry-delete {
        right: 10px;
    }
}

// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 10px;
// }

// ::-webkit-scrollbar-track {
//     background: $light-grey;
//     border: none;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: $primary;
//     border-radius: 5px;
//     border: none;
//     outline: none;
// }
